{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
    <h2>Cambiar contraseña</h2>
    <!-- seccion de mensajes -->

    {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="card mx-auto" style="width: 40rem;">
    
        <div class="card-body">
            <form action="{% url 'profile_password_change' %}" method="post">
                {%csrf_token%}
                <div class="mb-3">
                    <label for="old_password">Contraseña actual</label>
                    <input class="form-control" type="password" name="old_password" id="old_password">
                </div>
                <div class="mb-3">
                    <label for="new_password1">Nueva Contraseña</label>
                    <input class="form-control" type="password" name="new_password1" id="new_password1">
                </div>
                <div class="mb-3">
                    <label for="new_password2">Confirmar Nueva contraseña</label>
                    <input class="form-control" type="password" name="new_password2" id="new_password2">
                </div>

                <input class="btn btn-primary" type="submit" value="Cambiar Contraseña" {%if password_changed%}disabled{%endif%} >

            </form>
            
            
        </div>
    </div>

</div>

{% endblock %}