{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <h2><strong>Curso:</strong> {{course_name}}</h2>
    <h2><strong>Actualizar notas:</strong>  {{ object.student.get_full_name }}</h2>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <button class="btn btn-primary" type="submit">Guardar datos</button>
        <button class="btn btn-secondary" type="button" onclick="goback()" >Volver</button>               
    </form>

    <script>
        function goback(){
            window.history.back();
        }
    </script>
</div>



{% endblock %}